<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <div style="vertical-align: middle; padding-top: 8px;">
        <div>
          <a class="navbar-brand" href="{{site.baseurl}}/" style="border-bottom: none; line-height: 0.1em;">
          ISE Deadlines<br><br>
          </a>
        </div>
      </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler"
      aria-controls="navbars-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav mr-auto">
        <li>
          <a href="{{site.baseurl}}/" class="nav-link" style="border-bottom: none">Countdowns</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/calendar" class="nav-link" style="border-bottom: none;">Calendar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
